<h1>Alpha Bloggers</h1>

<h3>Articles</h3>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Number of articles</th>
            <th>Author</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= link_to gravatar_for(user, size: 150), user %></td>
                <td><%= pluralize(user.articles.count, "article") %></td>
                <td><%= link_to user.username, user %></td>
                <td><%= link_to 'View profile', user%></td>
                <td><%= link_to 'Edit profile', edit_user_path(user)%></td>
            </tr>
        <% end %>
        
    </tbody>
</table>